* {
	font-family: 'Tinos', serif;
}

body {
	background: #000;
}

main {
	background: #fff;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 50px;
	box-shadow: 4px 4px 35px 3px #fff
}

header {
	display: inline-block;
	margin: 20px 20px 20px 60px;
}

header h1 {
	font-size: 70px;
}

.contHeader {
	background: #fff;
	/*margin-top: 60px;
	margin-left: 30px;*/
	display: inline-block;
	width: 60%;
}

.presentacion {
	margin-top: 20px;
	}

.presentacion p {
	color: #aaa;
	padding: 20px;
}

.contacto {
	background: #ddd;
	padding: 20px;
	
}

.foto {
	background: #ddd;
	display: inline-block;
	width: 35%;
	margin-bottom: 100px;
/*	height: 500px;*/
	
}

.foto img {
	width: 100%;
	height:425px;
	object-fit: cover;
/*	object-position: 80px;*/

}





