/** {
	font-family: 'Sen', sans-serif;
	font-weight: 100;
}*/

body {
/*	background: radial-gradient(circle, #fff, #bbb);*/

}

.div-responsive {
	background: #ddd;
}


@media screen and (min-width: 500px) AND (max-width: 650px) {
	.div-responsive {
		background: #f00;
		padding: 10px;
	}
}

@media screen and (min-width: 650px) AND (max-width: 800px) {
	.div-responsive {
		background: #0f0;
		font-size: 50px;
	}
}

@media screen and (min-width: 800px) AND (max-width: 1200px) {
	.div-responsive {
		background: orange;
		margin: 50px;
	}	
}

@media screen and (min-width: 1200px) {
	.div-responsive {
		background: #000;
		color: #fff;
	}
}